.main_chat 
  .group_info
    .right_info 
      .current_info
        test 
        %ul.member_list
          Member :
          %li.member
            masa
    %a.edit_btn{href:'#'}
      Edit    
  .message_list
    .message_box
    .message_info
    .message
  .Footer
    %form.form
      .input_text
        %input{type: "text", class: "input_text_text", placeholder: "type a message"}
        %label{class: "input_text_image"}
          =icon('fas', 'image')
          %input{type: "file", class: "input_text_image_file"}
      %input{type: "submit", class: "submit_btn"}
 
 