.side_bar
  .user_name
    .user_box
      %p.name 
        masa 
      %ul.menu
        =link_to"#", class:"Contents_btn" do
          =icon('fas','edit')
        %li.edit-icon
        =link_to"#", class:"Contents_btn" do
          =icon('fas','cog')
        %li.cog-icon
  .group_list
    .group